.tableRow {
    display: flex;
}

.hoveredRow > button {
    background: rgb(61, 61, 61);
}

.removeRowCross,
.addRowButton {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border: none;
    background: none !important;
    outline: none;
}
.removeRowCross:hover,
.addRowButton:hover {
    border: none;
    background: none !important;
    outline: none;
}

.removeRowCross::before,
.removeRowCross::after,
.addRowButton::before,
.addRowButton::after {
    content: "";
    position: absolute;
    /* border-radius: 2px; */
    width: 20px;
    height: 2px;
    background: #4d4d4d;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    transition: background 0.3s;
}

.removeRowCross::after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.removeRowCross:hover::before,
.removeRowCross:hover::after {
    background: #b11b1b;
}

.addRowButton {
    display: flex;
    align-items: center;
    justify-content: center;
}

.addRowButton::before,
.addRowButton::after {
    transform: translate(-50%, -50%) rotate(0deg);
}

.addRowButton::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.addRowButton:hover::before,
.addRowButton:hover::after {
    background: #21d18e;
}
